<h2>Welcome To  LunchVote</h2>
<p>Create a room to start voting!!</p>

<div class="row">
	<% @rooms.each do |r| %>
		<div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <div class="caption">
		        <h3><%=r.name%></h3>

		        <p>
		        	<button  >
		        		<%=link_to "GO TO ROOM",r %>
		        	</button> 
		        </p>
		      </div>
		    </div>
		</div>
	<% end %>
</div>
<br/>
<br/>
<br/>
<%=link_to "We need more room!!", new_room_path %>